.ExhibitionItem {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding:5%;
}

@media (min-width:750px) {
  .ExhibitionItem {
    height:55vh
  }
}

.ExhibitionItem .favorite, .unfavorite, .remove {
  background:none;
  border:none
}

.ExhibitionItem .exhibition-main-img {
  height:30vh;
}

.ExhibitionItem .exhibition-footer {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  margin:2%
}

.ExhibitionItem .exhibition-footer .CreatorTitle {
  width:100%
}

.ExhibitionItem .exhibition-footer img {
  padding: 0 20%
}