.FavoritesPage{
  color: white;
  font-family: 'Shrikhand', cursive;
  font-size: 16px;
}

.FavoritesPage > h1{
  padding:0% 10%
}

.FavoritesPage .all-exhibitions-container .exhibition-details .ExhibitionItem{
  background-color:#684756;
}


.FavoritesPage .all-exhibitions-container .exhibition-details .ExhibitionItem:hover{
  background-color:white;
  color:#684756
}

.FavoritesPage .scroll-btn{
  background-color:#684756;
}


.FavoritesPage .message-user {
  height: 70vh;
  display:flex;
  align-items: center;
  justify-content: center;
}