.Home {
  display:flex;
  flex-wrap:wrap;
  width:100%;
  font-size:1.2em;
  font-family: 'Shrikhand', cursive;
  height:95vh
}

.Home .side-bar {
  background-color:#2E2C2B;
  writing-mode: vertical-rl;
  text-orientation: upright;
  display:flex;
  align-items: center;
  justify-content: center;
  width:16%;
}

.Home .side-bar a {
  text-decoration: none;
  color:white
} 

.Home .iframe-container {
  width:68%;
}

.Home .iframe {
  position:absolute;
  left:16%;
  top:5vh;
  z-index:-1;
  width: 75%; 
  /* width to the iframe because than its container, so that we don't see the scrolling bar of the iframe */
  height: 95vh;
  border:none;
}