.oneMuseumImage {
  height:35vh;
  width: 90vw;
  background-color:#B3BED8;
  color:black;
  font-size:0.6em;
  margin:7% 0;
  display:flex;
  flex-direction: column;
}


@media (min-width:450px) and (max-width:1199px) {
  .oneMuseumImage{
    width:45vw;
  }
}

@media (min-width:1200px) and (max-width:1500px) {
  .oneMuseumImage{
    width:30vw;
  }
}

@media (min-width:1501px) {
  .oneMuseumImage{
    width:20vw;
  }
}

.oneMuseumImage .TitleContainer, .oneMuseumImage .BtnContainer {
  height:15%;
  padding:5%;
}

.oneMuseumImage .TitleContainer h1 {
  height:100%;
  margin:0
}

/* https://github.com/daxko/react-auto-text#readme */

.oneMuseumImage .ImageContainer {
  height:70%
}

.oneMuseumImage .ImageContainer img {
  height:80%
}

.oneMuseumImage .DeleteBtn{
  background-color:#931621;
  padding:3%;
  border-radius:100px;
  border:none;
  font-family: 'Shrikhand', cursive;
  font-weight:lighter;
  font-size:2em;
  color:black
}

.oneMuseumImage .AddBtn{
  background-color:#4B644A;
  padding:3%;
  border-radius:100px;
  border:none;
  font-family: 'Shrikhand', cursive;
  font-weight:lighter;
  font-size:2em;
  color:black

}


@media (min-width:700px) {
  .oneMuseumImage .AddBtn, .oneMuseumImage .DeleteBtn{
    font-size:1.4em;
  }
}

.oneMuseumImage .Ellipsis {
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis
}