.IndexPage {
  color: white;
  font-family: 'Shrikhand', cursive;
  font-size:16px
}

.IndexPage > h1{
  padding:0% 10%
}

.IndexPage .all-exhibitions-container .exhibition-details .ExhibitionItem{
  background-color:#003554;
}

.IndexPage .all-exhibitions-container .exhibition-details .ExhibitionItem:hover{
  background-color:white;
  color:#003554
}

.IndexPage .scroll-btn{
  background-color:#003554;
}