.oneExhitionImageContainer {
  display:flex;
  flex-direction: column;
  width:30vh;
}

.oneExhitionImageContainer .InfoContainer{
  background-color:rgba(255, 255, 255, 0.8 );
  border:10px solid rgba(255, 255, 255, 0.8 );
  display:flex;
  align-items:center;
  justify-content: center;
  position:absolute;
  height:calc(100% - 20px);
  width:100%;
}

.oneExhitionImageContainer .oneExhibitionImage img{
  border:10px solid black
}