.ProfilePage {
  color: white;
  font-family: 'Shrikhand', cursive;
  font-size:16px
}

.ProfilePage > h1{
  padding:0% 10%
}

.ProfilePage .all-exhibitions-container .exhibition-details .ExhibitionItem{
  background-color:#4E4D5C;
}

.ProfilePage .all-exhibitions-container .exhibition-details .ExhibitionItem:hover{
  background-color:white;
  color:#4E4D5C
}

.ProfilePage .scroll-btn{
  background-color:#4E4D5C;
}

.ProfilePage .message-user {
  height: 70vh;
  display:flex;
  align-items: center;
  justify-content: center;
}