.ProfilePage {
  color: white;
  font-family: 'Shrikhand', cursive;
  font-size: 1.8em; 
}

.ProfilePage .allExhibitions{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
}

.ProfilePage .allExhibitions .exhibitionDetails{
  width:40%;
  padding: 2% 5%;
}

.ProfilePage .allExhibitions .exhibitionDetails .ExhibitionItem{
  background-color:#4E4D5C;
  height:50vh;
}

.ExhibitionItem h1  {
  font-size: 1.4em;
}

.ExhibitionItem h2 {
  font-size:1em;
  font-weight: lighter
}