.Signup {
  width:100%;
  font-family: 'Shrikhand', cursive;
  height:95vh;
  color:black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

@media (min-width:750px) {
  .Signup {
    font-size:1.5em;
  }
}

.Signup .signup-content {
  width:75%;
  background-color:rgba(255, 255, 255, 0.7);
  padding:2%;
  margin:2%;
}

.Signup .error-msg{
  width:75%;
  background-color:rgba(255, 255, 255, 0.7);
  padding:2%;
}

@media (min-width:750px) {
  .Signup .signup-content, .Signup .error-msg {
    width:50%;
  }
}

@media (min-width:1000px) {
  .Signup .signup-content, .Signup .error-msg {
    width:20%;
  }
}

.Signup .signup-content form {
  margin:0
}

.Signup .signup-content  div {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:2%;
}

.Signup .signup-inputs{
  padding: 3%;
  border: none;
  width:50%
}

.Signup .signup-inputs::placeholder{
  font-family: 'Shrikhand', cursive;
  text-align:center
}

.Signup .signup-inputs:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Shrikhand', cursive;
  text-align:center
}

.Signup .signup-inputs::-ms-input-placeholder { /* Microsoft Edge */
  font-family: 'Shrikhand', cursive;
  text-align:center
}

.Signup .signup-iframe {
  position:absolute;
  left:0;
  top:5vh;
  z-index:-1;
  width:100%;
  height: 95vh;
  border:none
}

.Signup .signup-btn{
  background-color:black;
  color:white;
  padding:3%;
  border:none;
  font-family: 'Shrikhand', cursive;
  width:50%
}

.Signup .signup-btn:hover{
  background-color:red;
  color:white
}